.spinner {
  position: fixed;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
  width: 2rem;
  height: 2rem;
  border: 0.25rem solid #ffc000;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 9999;
}

.spinner--hidden {
  display: none;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
